DateCategory insists on DayOfWeek and comma being present when parsing Date header

RFC3261 defines Date header https://datatracker.ietf.org/doc/html/rfc3261#section-20.17 according to RFC1123
RFC1123 defines the date as https://datatracker.ietf.org/doc/html/rfc1123#section-5.2.14
The syntax for the date is hereby changed to: date = 1*2DIGIT month 2*4DIGIT
which is a restriction from the underlying RFC822 which included day-name

The DateCategory parser fails if the day-name is not present (strictly it fails because there is no "," when the day-name is not present
NB. RFC3261 is misleading because it provides an example date-string with the day-name and comma, later SIP RFC double down on this confusion by including day-name if they provide a Date header

RFC2822 which obsoletes RFC822 defines the date-string (https://datatracker.ietf.org/doc/html/rfc2822#section-3.3) making day-name comma optional and cleans up the whole mess in the specifications. However, strings without day-name cannot be parsed by ReSIProcate - resulting in failure logging of "skipped over eof" from ParseBuffer.cxx (line 63)

Not sure how the parsing code is expected to handle optional sub-fields so I am unable to fix this myself.

Thanks



Thanks for the detailed write up.  I agree with your analysis.  I have made changes to resiprocate to make the DayOfWeek optional on the Date header.  

Changes are in this commit:
https://github.com/resiprocate/resiprocate/commit/9bc4c87ccfa330bb3ec1a5bd8a7ed917ab70c18d

Best Regards,
Scott Godin
SIP Spectrum, Inc.