UdpTransport cannot receive message datagrams larger than 8192 bytes

When a SIP message larger than 8192 bytes is received, stack does not handle the message. Instead it prints the following to the log.
```
INFO | 20220503-085248.385 |  | RESIP:TRANSPORT | 29032 | Transport.cxx:151 |  The message was too large to fit into the specified buffer and was truncated.
```

[RFC 3261 Section 18.1.1](https://datatracker.ietf.org/doc/html/rfc3261#section-18.1.1) indicates that implementations should be able to handle messages up to the maximum datagram size, which for UDP is 65535 bytes.

DtlsTransport appears to have the same problem. Albeit in slightly different code.

I can see a couple of solutions but am interested in other's opinions:
1. Increase UdpTransport::MaxBufferSize to 65535. This should fix both UdpTransport and DtlsTransport with a single change. It would mean that each message consumes 8x the memory though!
2. Modify UdpTransport::processRxRecv() to use MSG_PEEK|MSG_TRUNC to determine the size of the pending message before allocating the receive buffer. The ability of UdpTransport being able to reuse the receive buffer if a message wasn't parsed is an added complexity here. DtlsTransport::_read() would require a similar code change, perhaps slightly simpler as it DtlsTransport does not appear to reuse the receive buffer.

I don't see #1 as an option, it would blow up the heap pretty quickly for a
UDP/DTLS server.  For #2, we would need to make sure MSG_PEEK|MSG_TRUNC
works in all supported OSs.

I supposed we could always read into a single (per transport) 64k buffer,
then copy to an appropriately sized one, but if there is a more performant
solution that avoids copying, I would lean towards that.

Best Regards,
Scott

On Tue, May 3, 2022 at 7:32 AM Ben Walden ***@***.***> wrote:

> When a SIP message larger than 8192 bytes is received, stack does not
> handle the message. Instead it prints the following to the log.
>
> INFO | 20220503-085248.385 |  | RESIP:TRANSPORT | 29032 | Transport.cxx:151 |  The message was too large to fit into the specified buffer and was truncated.
>
> RFC 3261 Section 18.1.1
> <https://datatracker.ietf.org/doc/html/rfc3261#section-18.1.1> indicates
> that implementations should be able to handle messages up to the maximum
> datagram size, which for UDP is 65535 bytes.
>
> DtlsTransport appears to have the same problem. Albeit in slightly
> different code.
>
> I can see a couple of solutions but am interested in other's opinions:
>
>    1. Increase UdpTransport::MaxBufferSize to 65535. This should fix both
>    UdpTransport and DtlsTransport with a single change. It would mean that
>    each message consumes 8x the memory though!
>    2. Modify UdpTransport::processRxRecv() to use MSG_PEEK|MSG_TRUNC to
>    determine the size of the pending message before allocating the receive
>    buffer. The ability of UdpTransport being able to reuse the receive buffer
>    if a message wasn't parsed is an added complexity here.
>    DtlsTransport::_read() would require a similar code change, perhaps
>    slightly simpler as it DtlsTransport does not appear to reuse the receive
>    buffer.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/resiprocate/resiprocate/issues/238>, or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAVU2UOSYH64IKKUZEPFPILVIEFDVANCNFSM5U6UCCQQ>
> .
> You are receiving this because you are subscribed to this thread.Message
> ID: ***@***.***>
>


Thanks Scott. Agreed on all points.

I'd be a little worried about option 2 as well. The documented WinSock behaviour certainly looks different to Linux. I could test on both these OSs but would not be able to test a change on Mac or mobile OSs.